/*
 * @Author: Hank 
 * @Date: 2019-02-08 13:09:01 
 * @Last Modified by: Hank
 * @Last Modified time: 2019-02-08 13:47:44
 */

@import "../../styles/mixin";

.search-page {
  .block-container {
    padding: 20px;
    .block-title {
      font-size: 24px;
    }
    .block-tags {
      .tags {
        font-size: 14px;
        margin: 5px;
      }
    }

    .message-icon {
      padding-left: 10px;
      width: 30px;
      height: 30px;
    }
    .share-icon {
      padding-left: 10px;
      width: 30px;
      height: 30px;
    }
  }
}
